[submodule "moovie"]
	path = moovie
	url = https://github.com/mobyleOfficial/Moovie
[submodule "backend"]
	path = backend
	url = https://github.com/mobyleOfficial/MoovieBackend
[submodule "kanjipro"]
	path = kanjipro
	url = https://github.com/mobyleOfficial/KanjiPro
